<app-main-body pageHeaderTitle="Transaction Summary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-9">
        <app-transaction-summary-body></app-transaction-summary-body>
      </div>
      <div class="col-3">
        <mat-card>
          <mat-card-content>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <app-transaction-summary-chart></app-transaction-summary-chart>
                </div>
              </div>
              <div class="row">
                <div class="col"><hr></div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>Total Stake</h3>
                </div>
                <div class="col">
                  <h3><span class="badge badge-secondary">35,683.2987117</span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h3>Total Balance</h3>
                </div>
                <div class="col">
                  <h3><span class="badge badge-secondary">35,683.2987117</span></h3>
                </div>
              </div>
              <div class="row">
                <div class="col"><hr></div>
              </div>
              <div class="row">
                <div class="col">
                  <app-transaction-summary-header></app-transaction-summary-header>
                </div>
              </div>
              <div class="row" style="height: 25px;">
                <div class="col"></div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</app-main-body>
<!--
<div style="padding:30px;">
  <mat-toolbar color="basic" style="min-height:20px; height:50px;">
    <div class="container-fluid text-right">
      <div class="row">
        <div class="col">Transaction Summary</div>
      </div>
    </div>
  </mat-toolbar>
  <mat-card>
    <mat q-card-content>
      <div class="container-fluid">
        <div class="row">
          <div class="col-9">
            <app-transaction-summary-body></app-transaction-summary-body>
          </div>
          <div class="col-3">
            <mat-card>
              <mat-card-content>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col">
                      <app-transaction-summary-chart></app-transaction-summary-chart>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col"><hr></div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h3>Total Stake</h3>
                    </div>
                    <div class="col">
                      <h3><span class="badge badge-secondary">35,683.2987117</span></h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <h3>Total Balance</h3>
                    </div>
                    <div class="col">
                      <h3><span class="badge badge-secondary">35,683.2987117</span></h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col"><hr></div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <app-transaction-summary-header></app-transaction-summary-header>
                    </div>
                  </div>
                  <div class="row" style="height: 25px;">
                    <div class="col"></div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->
