table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.group-row:not(.expanded-row):hover {
  background: #777;
}

tr.group-row:not(.expanded-row):active {
  background: #efefef;
}

.group-row td {
  border-bottom-width: 0;
}

.group-detail {
  overflow: hidden;
  display: flex;
}

/* .example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
} */

/* .example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
} */

.group-detail-description {
  width: 100%;
  padding: 16px;
}

/* .example-element-description-attribution {
  opacity: 0.5;
} */
