<div class="container-fluid">
  <div class="row">
    <div class="col">Total Member</div>
    <div class="col">
      <span class="badge badge-pill badge-info">18</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Pool fee</div>
    <div class="col">
      <span class="badge badge-pill badge-info">1%</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Latest Stake Date</div>
    <div class="col">
      <span class="badge badge-pill badge-info">January 8, 2020</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Latest Stake TX</div>
    <div class="col">
      <span class="badge badge-pill badge-info">https://link.to.site</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Stake Address</div>
    <div class="col">
      <span class="badge badge-pill badge-info">https://link.to.site</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Latest Stake to Divide</div>
    <div class="col">
      <span class="badge badge-pill badge-info">23.808 VRSC</span>
    </div>
  </div>
  <div class="row">
    <div class="col">Loss on transactions</div>
    <div class="col">
      <span class="badge badge-pill badge-info">0.121290 VRSC</span>
    </div>
  </div>

  <div class="row">
    <div class="col">Document Update Date</div>
    <div class="col">
      <span class="badge badge-pill badge-info">January 8, 2020</span>
    </div>
  </div>
</div>
