<app-main-body pageHeaderTitle="Welcom to the Pool XD">
  <mat-card>
    <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <mat-card-title>Register now!</mat-card-title>
          <mat-card-subtitle>Put the transaction ID if you have already made the deposit before the registration</mat-card-subtitle>

          <app-user-registration-form></app-user-registration-form>
        </div>
        <div class="col-lg-3"></div>
        <!-- <div class="col-lg-6">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Join as new user</mat-card-title>
              <mat-card-subtitle>Register here if no deposit has been made yet to the staking pool account</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <app-user-registration-form registrationType=1></app-user-registration-form>
            </mat-card-content>
          </mat-card>
        </div> -->
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</app-main-body>

